a {
   color: #2e6678;
}


a:hover {
    color: #dfae70;
}

body {
    padding: 5vw;
    padding-left: 7vw;
    padding-top: 2vw;
    margin: 0px;
}

#main {
    width: 58vw;
    padding: 0;
    float:left;
}

#headcontainer {
    padding: 0;
    margin: 0;
    clear:both;
    height: calc(92px)
}

#header {
    padding: 0;
    margin: 0;
    margin-top: 3vw;
    min-width: 312px;
    width: 58vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans;
}

#logos {
    padding: -1px;
    margin: -1px;
    float: right;
    clear: right;
    margin-top: -30px;
}

#side {
    margin: 0;
    margin-left: 2vw;
    margin-top: 3vw;
    padding: 0;
    padding-left: 3vw;
    width: calc(23vw - 2px);
    float:left;
    border-left: 1px solid #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans;
    font-size: 12pt;
    font-weight: 400;
}

.title-big, .title-small {
    color: #777;
    font-weight: 300;
}

section {
    font-family: 'Rasa', serif;
    font-size: 15pt;
}

#side section {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    font-weight: 300;
}

.title-big {
    font-size: 24pt;
}

.title-medium-alt {
    font-weight: 600;
    font-size: 16pt;
    color: #cf8e70;
}

.title-medium {
    font-weight: 600;
    font-size: 18pt;
    color: #dfae70;
}

.title-small {
    font-weight: 500;
    font-size:17pt;
    color: #3e86a8;
}

.title-small-alt {
    font-weight: 500;
    font-size:17pt;
    color: #2e6678;
}

.code {
    background: #eee;
    color: #444;
    width: 50vw;
    padding:2px;
    margin: 10pt;

    font-size:9.5pt;
    overflow:scroll;
}

pre {
    padding:0px;
}


.code .comment {
    color: #090;
}

.code .type {
    color: #a00;
}

.code .keyw {
    color: #a00;
}

.code .var {
    color: #444;
}

#side section {
    padding-bottom: 23pt;
}

.logo {
    display:inline-block;
    margin: 0;
    padding: 0;
}

.logos {
    padding-top: -2px;
    margin-top: -2px;
    padding-bottom: -4px;
    margin-bottom: -6px;
}

#pubs th {
    margin-left:0;
    padding-left:0;
    width: 70px;
    text-align: right;
    padding-right: 10px;
}

#pubs td {
    padding: 10pt;
    font-size: 13pt;
}
